// ## Forms
// ---------------------------------------------
input,
select,
textarea {
  @include background-color($white, $oil);
  @include font-size(18px);
  border: 1px solid $gainsboro;
  font-weight: 300;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid $aluminum;
  outline: none;
}

input {
  &[type=checkbox],
	&[type=image],
	&[type=radio] {
    width: auto;
	}
}

::-webkit-input-placeholder {
  color: $oil;
  font-weight: 300;
}

::-moz-placeholder {
  @extend ::-webkit-input-placeholder;
  opacity: 1;
}

button,
[type=button],
[type=reset],
[type=submit],
.button {
  @include background-color($oil, $white);
  @include font-size(16px);
  border: 0;
  cursor: pointer;
  font-weight: 300;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

button:hover,
:hover[type=button],
:hover[type=reset],
:hover[type=submit],
.button:hover,
button:focus,
:focus[type=button],
:focus[type=reset],
:focus[type=submit],
.button:focus {
  @include background-color($primary-color, $white);
}

.entry-content .button:hover,
.entry-content .button:focus {
  color: $white;
}

.footer-widgets button,
.footer-widgets [type=button],
.footer-widgets [type=reset],
.footer-widgets [type=submit],
.footer-widgets .button {
  @include background-color($primary-color, $white);
}

.footer-widgets button:hover,
.footer-widgets :hover[type=button],
.footer-widgets :hover[type=reset],
.footer-widgets :hover[type=submit],
.footer-widgets .button:hover,
.footer-widgets button:focus,
.footer-widgets :focus[type=button],
.footer-widgets :focus[type=reset],
.footer-widgets :focus[type=submit],
.footer-widgets .button:focus {
  @include background-color($white, $oil);
}

.button {
  display: inline-block;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-results-button {
  display: none;
}
